/* GENERAL */
   @media (max-width: 100%){}
   @media (max-height: 100%){}
   body {
    background-color:white;
}
body {
    width: 100%;
    margin: auto;

    background-color: rgb(211, 236, 203);
}
.information_personnel {
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}
#Photo {
    float: right;
    height: 200px;
    margin-top: auto;
}
h1 {
    font-style: oblique;
    font-size: 5vh;
    margin: 1px;
    text-align: center;
}
h2 {
    color: rgb(102, 177, 247);
}
.date {
    text-align: center;
    font-weight: bold;
    display: inline-block;
}
.Titre {
    padding-left: 18px;
}

.Atouts {
    padding-right: 70px;
    text-align: start;
    
}
.Informatique {
    /* padding-right: 20px; */
    text-align: start;
}
.Langues {
    padding-right: 50px;
    text-align: start;
}
.Loisirs {
    padding-left: 50px;
    text-align: start;
}

.Split {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.Gauche {
   flex-basis: 60%; 
   display: inline-block;
   text-align: center;
   margin-left: 50px;
}

.Droit {
    display:flex;
    flex-direction: column;
    background-color: rgb(10, 151, 139);
    align-items: flex-end;
    flex-wrap: nowrap;
    margin-right: -90px;
    height: 750px;
}